# Ignore Python binaries and setup
Python-3.9.22/
__pycache__/
*.pyc

# Ignore FFmpeg binaries
ffmpeg-7.1.1/

# Node modules & build
lms-frontend/node_modules/
lms-backend/node_modules/
build/
dist/

# VS Code and environment files
.vscode/
.env
.DS_Store
